.credentials-new {
  text-align: center;
}

.credentials-generate-btn {
  background-color: $strongmind-sun;
  border: 0;
  border-radius: .5em;
  color: $strongmind-shark;
  padding: 1em 2em;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: lighten($strongmind-sun, 10%);
    cursor: pointer;
  }
}

.credential {
  padding: 1rem;
}

.credential-label {
  font-weight: bold;
  margin: 0.5rem 0;
  text-align: center;
}

.credential-value {
  background-color: $strongmind-sun;
  border-radius: 4px;
  color: $strongmind-shark;
  display: inline-block;
  padding: 0.5rem 1rem;
  word-break: break-word;
}

.config-container {
  .credential-label {
    text-align: left;
  }

  .credential-value {
    text-align: left;
    margin-bottom: 0;
  }
}
