html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background: $strongmind-shark;
    color: $white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
  }
  
  a {
    color: $white;
    text-decoration: underline;
  }

  p {
      margin-top: 0;
  }

  .wrapper {
    margin: 3.5rem 1rem;
    min-width: 30vw;
    max-width: 70vw;
  
    &::after {
      content: '';
      display: block;
    }
  }
  
  .container {
    border: 3px solid $strongmind-sun;
    border-radius: 4px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
      margin-bottom: auto;
    }
  }

  .heading-main {
    background: $strongmind-sun;
    color: $strongmind-shark;
    display: block;
    width: 100%;
    margin-top: 0;
    padding: 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 0;
  }

  .body-text {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;

    span {
      font-weight: bold;
    }
  }

  .strongmind-logo {
    max-width: 400px;
    display: block;
    margin: 0 auto 1.5rem;
    width: 100%;
  }