<h3 class="heading-main">Generated Key and Secret</h3>

<div class="credential">
    <p class="credential-label">Consumer Key:</p>
    <p class="credential-value"><%= credential.key %></p>
</div>

<div class="credential">
    <p class="credential-label">Shared Secret: </p>
    <p class="credential-value"><%= credential.secret %></p>
</div>